@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body {
    font-family: 'Balsamiq Sans';
    height: 100vh;
    background-image: url(https://i.ibb.co/5RKv1gt/memphis-style-black-and-gold-dots-pattern-background.jpg);
}